// variables
$p-margin: 10px;
$p-color: black;
$s-color: gray;
$p-align: center;
$p-border: solid;

// mixin created
@mixin grid_display($display,$repNbr,$repPx,$rowEM,$justify){
    display: $display;
    grid-template-columns: repeat($repNbr, $repPx);
    grid-template-rows: $rowEM;
    grid-auto-rows: $rowEM; 
    justify-content: $justify;
}

// extension
%border-style{
    border: 1px;
    border-style: $p-border;
    border-color: $p-color;
}

// use variables in flex container
.container-flex {
    margin: $p-margin;
    padding: $p-margin;
    text-align: $p-align
}

// call mixin for multiple uses of grids
.box {
    @include grid_display(grid,4,80px,5em,$p-align);
    font-size: 25px;
}
.score {
    @include grid_display(grid,7,60px,2em,$p-align)
}
ul{
    padding: 0;
    margin: 0;    
}

// use border extension
li{
    list-style-type: none;
    padding-top: 20px;
    @extend %border-style;
    padding-bottom: 8px;
}

// use border extension
.scoreList {
    @extend %border-style;
}

.form-group{
    padding-top:15px;
    padding-right: 25px;
    padding-left: 25px;
    border:$p-border;
    border-color: $s-color;
    border-width: 1px;
}

.btn {
    margin: 5px;
}
#grid {
    margin-bottom: 150px;
}

#counter {
    margin-bottom: 15px;
    font-size: 20px;
}
.menu {
    margin-bottom:15px;
}

input{
    margin-top: $p-margin;
    margin-bottom: 15px;
}
